<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>vice</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
  <link rel="stylesheet" href="styles/main.css" />
  <!-- inject:js -->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.css" />
  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css" />
  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!--<link rel="stylesheet" href="styles/dropdown.less">-->
  <!-- endbuild -->
</head>
<body ng-app="Vice">

<!-- Sidebars -->
<div ng-include="'sidebar/sidebar.html'"

        class="sidebar sidebar-left"></div>

<div ng-controller="IndexCtrl" class="app" ui-swipe-right="ui.turnOn('uiSideBarLeft')" ui-swipe-left="ui.turnOff('uiSideBarLeft')">

  <!-- Navbars -->

  <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-center" ui-yield-to="title">
      vice
    </div>
    <div class="btn-group pull-left">
      <div id="menuBtn" ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars"></i>
      </div>
      <div id="backBtn" class="btn hidden" ng-click="clickBackBtn()">
        <i class="fa fa-chevron-left"></i>
      </div>
    </div>
    <div class="btn-group pull-right" ui-yield-to="navbarAction">
      <div id="searchBtn" ui-toggle='searchBar' class="btn">
        <i class="fa fa-search"></i>
      </div>
      <div id="logoutBtn" ng-click="logout()" class="btn hidden">
        <span>Log out</span>
      </div>
    </div>
  </div>

  <!-- App Body -->
  <div class="app-body">
    <div class="app-content">
      <ng-view></ng-view>
    </div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="app.js"></script>
  <script src="index.js"></script>
  <script src="directives/dropdown.js"></script>
  <script src="sidebar/sidebar.js"></script>
  <script src="home/home.js"></script>
  <script src="newsFeed/newsFeed.js"></script>
  <script src="admin/admin.js"></script>
  <script src="products/productCategories.js"></script>
  <script src="services/ParseService.js"></script>
  <!-- endbuild -->
</div><!-- ~ .app -->


<div ui-yield-to="modals"></div>
</body>
</html>
