<div class="center-login">
  <div class="login-container">
    <form role="form" class="ng-pristine ng-valid ng-valid-email">
      <fieldset>
        <div class="product-dropdown">
          <div class="btn btn-block product-dropdown-btn" ui-turn-on="myDropdown">
            <span>{{productCategory}}</span>
            <span class="fa fa-angle-down pull-right" ui-show="!myDropdown"></span>
            <span class="fa fa-angle-up pull-right" ui-show="myDropdown"></span>
          </div>
          <ul class="dropdown-menu product-dropdown-list" ui-outer-click="Ui.turnOff('myDropdown')" ui-outer-click-if="Ui.active('myDropdown')"
              role="menu" ui-show="myDropdown" ui-state="myDropdown" ui-turn-off="myDropdown">
            <li id="placeHolderItem" class="text-center product-dropdown-item active" ng-click="chooseCategory('Product Type...', 'placeHolderItem')">
              Product Type...
            </li>
            <li id="item{{pc.name}}" class="text-center product-dropdown-item" ng-repeat="pc in productCategories" ng-click="chooseCategory(pc.name, 'item{{pc.name}})'">
              {{pc.name}}
            </li>
          </ul>
        </div>
        <!--<dropdown placeholder="Choose product type..." list="productCategories" selected="productCategory" property="name"></dropdown>-->
        <!--<div class="clear"></div>-->
        <div class="form-group has-success has-feedback">
          <label>Product Name</label>
          <input type="text" ng-model="username" class="form-control ng-pristine ng-untouched ng-valid needsclick ng-valid-email" placeholder="Product Name" autocomplete="off" >
        </div>

        <div class="form-group">
          <label>Product Image</label>
          <input type="text" ng-model="password" class="form-control needsclick" placeholder="URL" autocomplete="off" >
        </div>
      </fieldset>
      <hr>

      <button class="btn btn-primary btn-block" ng-click="">
        Add
      </button>
    </form>
  </div>
</div>
