<div class="center-login">
  <div class="login-container">
    <form role="form" class="ng-pristine ng-valid ng-valid-email">
      <fieldset>

        <div class="form-group has-success has-feedback">
          <label>Username</label>
          <input type="username" ng-model="username" class="form-control ng-pristine ng-untouched ng-valid needsclick ng-valid-email" placeholder="Username" autocomplete="off" >
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" ng-model="password" class="form-control needsclick" placeholder="Password" autocomplete="off" >
        </div>
      </fieldset>
      <hr>

      <button class="btn btn-primary btn-block" ng-click="login()">
        Add
      </button>
    </form>
  </div>
</div>
