<div ng-controller="AdminCtrl">
  <div class="scrollable">
    <div class="scrollable-content section">
      <section class="container-fluid text-center reduced-height">
        <h1 class="page-header">Admin Page</h1>
      </section>
      <div id="admin-content" class="hidden">
        <div ng-show="view == 0">
          <div class="center-login">
            <div class="login-container">
              <form role="form" class="ng-pristine ng-valid ng-valid-email">
                <fieldset>
                  <!--<legend>Please login to continue</legend>-->
                  <div class="form-group has-success has-feedback">
                    <label>Username</label>
                    <input type="username" ng-model="username" class="form-control ng-pristine ng-untouched ng-valid needsclick ng-valid-email" placeholder="Username" autocomplete="off" >
                  </div>

                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" ng-model="password" class="form-control needsclick" placeholder="Password" autocomplete="off" >
                  </div>

                  <div class="form-group">
                    <label>Remember Me</label>
                    <div id="toggle" class="switch ng-isolate-scope switch-transition-enabled active ng-valid" ng-click="setRememberMe()"><div class="switch-handle"></div></div>
                  </div>
                </fieldset>
                <hr>

                <button class="btn btn-primary btn-block" ng-click="login()">
                  Login
                </button>
              </form>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div ng-show="view == 1" class="list-group text-center">
          <div class="list-group-item list-group-item-home">
            <div class="list-group-item" ng-click="changeView(2)">
              <h3 class="home-heading">Add a product</h3>
            </div>
            <div class="list-group-item" >
              <h3 class="home-heading">Add a new product line</h3>
            </div>
            <div class="list-group-item" >
              <h3 class="home-heading">Edit a product</h3>
            </div>
            <div class="list-group-item" >
              <h3 class="home-heading">Edit a product line</h3>
            </div>
            <div class="list-group-item" >
              <h3 class="home-heading">Post to news feed</h3>
            </div>
            <div class="list-group-item" ng-click="changeView(7)">
              <h3 class="home-heading">Add a new admin user</h3>
            </div>
            <div class="list-group-item" ng-click="changeView(8)">
              <h3 class="home-heading">Reset password</h3>
            </div>
          </div>
        </div>
        <div ng-show="view == 2" ng-include="'admin/views/addProduct.html'"></div>
        <div ng-show="view == 7" ng-include="'admin/views/newAdmin.html'"></div>
      </div>
    </div>
  </div>
</div>
