<div ng-controller="NewsFeedCtrl">
  <div class="scrollable" ui-state="searchBar">
    <input
      ng-if="Ui.active('searchBar')"
      type="search"
      class="form-control scrollable-header"
      placeholder="Search.." />
    <div class="scrollable-content">
      <div class="list-group">
        <div class="list-group-item list-group-item-home">
          <div class="text-center">
            <h3>Vice News Feed</h3>
            See what Vice is up to!
          </div>
          <div class="feed-content">
            <ul class="news-feed" ng-repeat="newsItem in newsItems">
              <li>
                <a class="list-group-item" ng-href="{{newsItem.link}}">
                  <img class="news-item-image" src="{{newsItem.imgUrl}}">
                  <label class="news-item-label">{{newsItem.description}}</label>
                  <div class="clear"></div>
                </a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
