<div ng-controller="ProductCategoriesCtrl">
  <div class="scrollable">
    <div style="border-bottom: 1px solid #dddddd; background-color: #ffffff; text-align: center">
      <h3> Choose a Category:</h3>
    </div>
    <div class="scrollable-content">

      <div class="list-group text-center">

        <div class="list-group-item list-group-item-home">

          <div class="list-group-item" ng-repeat="pc in productCategories">
            <h3 class="home-heading">{{pc.CategoryName}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
