.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.clear {
  clear: both;
}

/* App Background begin */

.app {
  background-color: #ffffff;
}

/* App Background end */

/* Sidebar CSS begin*/
.navbar-app, .navbar-app .btn{
  background-color: #353535;
  color: #f7f7f7;
}

.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
  color: #27467f;
}

.list-group-item {
  border: none;
}

.sidebar-left, .list-group-item.active, .list-group-item.active:focus{
  background: #27467f;
}

.sidebar-item, .sidebar-item.active, .sidebar-item.active:hover,
a.sidebar-item, a.sidebar-item.active, a.sidebar-item:hover {
  border: none;
  color: #f7f7f7;
  background-color: #27467f;
}

.icon-shift {
  padding-top: 3px;
  padding-right: 3px;
}

.footer-copyright{
  color: #ffffff;
  margin-left: 3px;
}
.bold-text {
  font-weight: bold;
}

.sidebar-left-in .app {
  transform: translate(180px, 0);
}

.sidebar {
  width: 180px;
}

@media (min-width: 480px) {
  .sidebar-left {
    width: 180px;
  }
  .sidebar-left-in .app {
    -webkit-transform: translate3d(180px, 0, 0);
    transform: translate3d(180px, 0, 0);
  }
}
@media (min-width: 768px) {
  .sidebar-left {
    width: 180px;
  }
  .sidebar-left-in .app {
    -webkit-transform: translate3d(180px, 0, 0);
    transform: translate3d(180px, 0, 0);
  }
}
@media (min-width: 992px) {
  .sidebar-left {
    width: 180px;
  }
  .has-sidebar-left .app,
  .sidebar-left-in .app {
    margin-left: 180px;
  }
}
@media (min-width: 1200px) {
  .sidebar-left {
    width: 180px;
  }
  .has-sidebar-left .app,
  .sidebar-left-in .app {
    margin-left: 180px;
  }
}
/* Sidebar CSS end */

/* News Feed CSS begin */
.news-feed {
  list-style: none;
  padding-left: 0px;
}

@media screen and (max-device-width: 500px) {
  .feed-content {
    float: right;
    width: 100%;
  }

  .news-item-image {
    float: left;
    width: 47%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 400px) {
  .feed-content {
    float: right;
    width: 100%;
  }

  .news-item-image {
    float: left;
    width: 47%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 600px) {
  .feed-content {
    float: right;
    width: 90%;
  }

  .news-item-image {
    float: left;
    width: 42%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (max-device-width: 800px) and (orientation: landscape) {
  .feed-content {
    float: right;
    width: 90%;
  }

  .news-item-image {
    float: left;
    width: 42%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 800px) {
  .feed-content {
    float: right;
    width: 80%;
  }

  .news-item-image {
    float: left;
    width: 38%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 1000px) {
  .feed-content {
    float: right;
    width: 78%;
  }

  .news-item-image {
    float: left;
    width: 35%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 1100px) {
  .feed-content {
    float: right;
    width: 71%;
  }

  .news-item-image {
    float: left;
    width: 30%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 1300px) {
  .feed-content {
    float: right;
    width: 68%;
  }

  .news-item-image {
    float: left;
    width: 30%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
@media screen and (min-width: 1800px) {
  .feed-content {
    float: right;
    width: 65%;
  }

  .news-item-image {
    float: left;
    width: 24%;
    padding-right: 5px;
  }

  .news-item-label {
    float: left;
    width: 45%;
    padding-top: 1%;
  }
}
/* News Feed CSS end */

/* Angular Carousel CSS begin */
.center-carousel{
  float: right;
  width: 73%;
}

.carousel-container{
  max-width: 59%;
}

.carousel-height{
  height: 403px;
}

.carousel-image{
  width: 100%;
}
/* Desktop Scaling begin */
@media screen and (min-width: 440px) {
  .center-carousel{
    float: right;
    width: 90%;
  }

  .carousel-container{
    max-width: 88%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 550px) {
  .center-carousel{
    float: right;
    width: 84%;
  }
  .carousel-container{
    max-width: 82%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 625px) {
  .center-carousel{
    float: right;
    width: 81%;
  }

  .carousel-container{
    max-width: 75%;
  }

  .carousel-height{
    height: 335px;
  }
}
@media screen and (min-width: 745px) {
  .center-carousel{
    float: right;
    width: 76%;
  }

  .carousel-container{
    max-width: 69%;
  }

  .carousel-height{
    height: 345px;
  }
}
@media screen and (min-width: 865px) {
  .center-carousel{
    float: right;
    width: 72%;
  }

  .carousel-container{
    max-width: 63%;
  }

  .carousel-height{
    height: 355px;
  }
}
@media screen and (min-width: 992px) {
  .center-carousel{
    float: right;
    width: 72%;
  }

  .carousel-container{
    max-width: 63%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1134px) {
  .center-carousel{
    float: right;
    width: 70%;
  }

  .carousel-container{
    max-width: 58%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1247px) {
  .center-carousel{
    float: right;
    width: 68%;
  }

  .carousel-container{
    max-width: 53%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1381px) {
  .center-carousel{
    float: right;
    width: 66%;
  }

  .carousel-container{
    max-width: 49%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1520px) {
  .center-carousel{
    float: right;
    width: 64%;
  }

  .carousel-container{
    max-width: 44%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1720px) {
  .center-carousel{
    float: right;
    width: 62%;
  }

  .carousel-container{
    max-width: 39%;
  }

  .carousel-height{
    height: 325px;
  }
}
@media screen and (min-width: 1977px) {
  .center-carousel{
    float: right;
    width: 61%;
  }

  .carousel-container{
    max-width: 36%;
  }

  .carousel-height{
    height: 325px;
  }
}
/* Desktop Scaling end */
/* Mobile Scaling begin */
@media screen and (max-device-width: 500px) {
  .center-carousel{
    float: none;
    width: 100%;
    height: 310px;
  }

  .carousel-container{
    max-width: 100%;
  }

  .carousel-height{
    height: 310px;
  }
}
@media screen and (device-width: 320px) {
  .carousel-height{
    height: 240px;
  }
}
@media screen and (device-width: 360px) {
  .carousel-height{
    height: 270px;
  }
}
@media screen and (device-width: 320px) and (device-height: 533px){
  .carousel-height{
    height: 240px;
  }
}
@media screen and (device-width: 375px) {
  .carousel-height{
    height: 281px;
  }
}
@media screen and (device-width: 414px) and (device-height: 736px) {
  .carousel-height{
    height: 310px;
  }
}
/* Mobile Scaling end */
/* Angular Carousel CSS end */

/* Home CSS begin */
.reduced-height{
  height: 70px;
}
/* Home CSS end */

/* Admin CSS begin */
.btn-primary {
  background-color: #27467f;
  border-color: #27467f;
}

.switch.active {
  background-color: #27467f;
  border-color: #27467f;
}

.switch.active .switch-handle {
  border-color: #27467f;
}
.switch {
  height: 20px;
  margin-top: 10px;
  background-color: #353535;
}
.switch .switch-handle {
  margin-top: -6px;
}

.center-login {
  float: right;
  width: 60%;
}

.login-container {
  max-width: 36%;
}

@media screen and (max-device-width: 500px) {
  .center-login {
    float: right;
    width: 100%;
  }

  .login-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 440px) {
  .center-login {
    float: right;
    width: 86%;
  }

  .login-container {
    max-width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .center-login {
    float: right;
    width: 73%;
  }

  .login-container {
    max-width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .center-login {
    float: right;
    width: 69%;
  }

  .login-container {
    max-width: 55%;
  }
}
@media screen and (min-width: 1600px) {
  .center-login {
    float: right;
    width: 64%;
  }

  .login-container {
    max-width: 47%;
  }
}
@media screen and (min-width: 1800px) {
  .center-login {
    float: right;
    width: 62%;
  }

  .login-container {
    max-width: 39%;
  }
}
/* Admin CSS end */

/* Dropdown CSS begin */
.product-dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
  /*vertical-align: middle;*/
  border-color: #353535;
}
.product-dropdown-btn {
  border-color: #353535;
  text-align: left;
}

.product-dropdown-list {
  width: 100%;
}

.product-dropdown-item {
  border-bottom-color: #f7f7f7;
}

.product-dropdown-item.active {
  color: #ffffff;
  background-color: #27467f;
}
/* Dropdown CSS end */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
