<div ng-controller="HomeCtrl">
  <section class="section container-fluid text-center reduced-height">
    <h1 class="page-header">Welcome to Vice</h1>
  </section>
  <div class="center-carousel">
    <div class="carousel-container">
      <ul rn-carousel rn-carousel-auto-slide class="carousel-height image">
        <li ng-repeat="image in images">
          <img class="carousel-image" src="{{image.url}}"/>
        </li>
      </ul>
    </div>
  </div>
</div>
