<div ng-controller="SidebarCtrl">
  <!--<h1 class="app-name">vice</h1>-->

  <div class="scrollable">
    <div class="scrollable-content">
      <br/>
      <br/>
      <br/>
      <!--<h1 class="app-name">vice menu</h1>-->
      <div class="list-group" ui-turn-off="uiSidebarLeft">
        <a class="list-group-item sidebar-item" href="#/"><i class="fa fa-home pull-left icon-shift"/> home <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" href="#/newsFeed"><i class="fa fa-rss-square pull-left icon-shift"/> news feed <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" href="#/products"><i class="fa fa-list-alt pull-left icon-shift"/> products <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" href="#/team"><i class="fa fa-users pull-left icon-shift"/> team <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" href="#/contactUs"><i class="fa fa-envelope pull-left icon-shift"/> contact us <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" href="#/admin"><i class="fa fa-lock pull-left icon-shift"/> admin <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item sidebar-item" ng-href="{{facebook}}"><i class="fa fa-facebook-square pull-left icon-shift"/> facebook <i class="fa fa-chevron-right pull-right" /></a>
        <a class="list-group-item sidebar-item" ng-href="{{youtube}}"><i class="fa fa-youtube-square pull-left icon-shift"/> youtube <i class="fa fa-chevron-right pull-right" /></a>
        <a class="list-group-item sidebar-item" ng-href="{{instagram}}"><i class="fa fa-instagram pull-left icon-shift"/> instagram <i class="fa fa-chevron-right pull-right" /></a>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <!--<h1 class="app-name">social</h1>
      <div class="list-group" ui-turn-off="uiSidebarLeft">
        <a class="list-group-item sidebar-item" ng-href="{{facebook}}"><i class="fa fa-facebook-square pull-left icon-shift"/> facebook <i class="fa fa-chevron-right pull-right" /></a>
        <a class="list-group-item sidebar-item" ng-href="{{youtube}}"><i class="fa fa-youtube-square pull-left icon-shift"/> youtube <i class="fa fa-chevron-right pull-right" /></a>
        <a class="list-group-item sidebar-item" ng-href="{{instagram}}"><i class="fa fa-instagram pull-left icon-shift"/> instagram <i class="fa fa-chevron-right pull-right" /></a>
      </div>
-->

      <br/><br/>
      <div class="footer-copyright">
        <span class="fa fa-copyright"> Copyright 2015</span> <br/><span class="bold-text">Vice Pro Scooter</span>
        <br/>
        <span>Designed and Developed by <br/><span class="bold-text">Czifro Development</span></span>
      </div>

    </div>
  </div>
</div>
